body
{
background-color: yellowgreen;
margin: 90px;
padding: 10PX;
font-size: large;
font-family: 'Times New Roman', Times, serif;
}
table
{
 height: 20%; 
}
table , th, td

{
  border: 1px solid black;
  width: 30%;
  border-collapse: collapse;
  text-transform: capitalize;
}
  ul, li, h1, h2
  {
    text-transform: capitalize;
  }
  h3 
  {
    text-transform: capitalize;
    font-style: italic;
  }
  
  